---
import getPages from '@/hooks/getAllPages';
import Slugify from '@/utils/Slugify';
const { pages } = await getPages();
---
<section class="w-full max-w-screen-layout flex flex-col items-center">
    <h1>NavBar</h1>
    {pages.map((page: any) => {
        let slug = Slugify(page);
        return (
    <a href={`/${slug === 'home' ? '' : slug}`}>{page}</a>
    )
    })}
</section>