---
import getPages from '@/hooks/getAllPages';
import Layout from '@/layouts/Layout.astro';
import { type PageType } from '@/types/pages';

export async function getStaticPaths (){
    const { raw, error }  = await getPages();
    if (error) {
        return [];
    };
    return raw.flatMap(( page: PageType ) => {
      if (page.slug === 'landing') return [];
        return {
            params: { page: page.slug }
        }
    });
};

const { page } = Astro.params;
---
<Layout>
            <h1>You are on page {page}</h1>
</Layout>
