---
import LandingClients from "@/components/organism/Home/LandingClients";
import { getAllBlocksFromPage, getBlockFromManyLocales } from "@/utils/parsing";
interface Blocks {
  blocks: any;
}
const { blocks } = Astro.props;
getAllBlocksFromPage(blocks);
---

<section>
  <LandingClients
    block={getBlockFromManyLocales(blocks, "blocks.landing-hero")}
    client:only="react"
  />
</section>
