---
const exampleData = {
    'title': 'Example Block',
    'description': 'This is an example block.',
}

---
<section>
    <h1>This only appears on Home page</h1>
    <h2>{exampleData.title}</h2>
    <p>{exampleData.description}</p>
</section>