---
import Footer from "@/components/molecules/Footer";
import Navbar from "@/components/molecules/Navbar";
import "@/styles/global.css";
import "@fontsource/kanit";
import { Container } from "@mui/material";
---
<!doctype html>
<html lang="en" id="root">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>ExampleProject</title>
	</head>
	<body>
		<Container className="h-[100vh] flex flex-col justify-between px-0 font-main">
			<Navbar />
			<slot />
			<Footer />
		</Container>
	</body>
</html>
