---
import Footer from "@/components/ui/Footer";
import Navbar from "@/components/ui/Navbar";
import ChakraProvider from '@/providers/ChakraProvider';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body class="flex flex-col items-center justify-between h-screen w-screen">
		<ChakraProvider client:load>
		<Navbar />
		<slot />
		<Footer />
	</ChakraProvider>
	</body>
</html>
